@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	--def: #96B7C4
	--inv: #fff
	height: 100% 
	margin: 0
	padding: 0
	font-size: 10px
	background-color: #fff
body
	font-size: 10px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center
.flex-center
	display: flex
	justify-content: center
::selection
	background-color: $accent1
	color: #fff

.shadow
	padding-bottom: 20px
	box-shadow: rgba($text2, .2) 0 2px 4px 0


	//////////////////////// шапка



.s-header
	&__firstline
		display: flex
		justify-content: space-between
		z-inbdex: 1
		margin: 0 auto
		max-width: 1600px
		padding-top: 35px
		ul
			margin: 0
			padding: 0
			display: flex
			justify-content: start	
			align-items: center		
			li
				position: relative
				list-style: none
				a
					margin-right: 30px
					position: relative
					display: block
					text-decoration: none
					color: $text1
					Font-family: $default-font
					Font-weight: 400 
					Font-size: 13px 
					Line-height: 18px  
					Letter-spacing: 2%
					box-sizing: border-box
					transition: .5s	
					padding-top: 15px
					padding-bottom: 15px						
					&:before, &:after
						content: ''
						position: absolute
						right: 0
						bottom: 0
						left: 0
						transition: 0.2s
						color: rgba($accent1, .9)
						border-bottom: 2px solid $accent1
						transform: scaleX(0)
					&:hover 
						color: rgba($accent1, .9)
						&:before, &:after
							transform: scaleX(1)
		&__info
			display: flex
			justify-content: end
			align-items: center
			.number
				font-size: 20px
				font-weight: bold
				Font-family: $default-font
				.fa-angle-down
					margin-left: 20px
					margin-right: 40px
					cursor: pointer
			.soc
				.fa-instagram, .fa-facebook-square,
					font-size: 24px
					color: $text1
					margin-left: 20px
					transition: .3s

	&__secondline
		display: flex
		justify-content: space-between
		z-inbdex: 1
		margin: 0 auto
		max-width: 1600px
		padding-top: 30px
		padding-bottom: 30px
		.logo
		.personal-data
			display: flex
			justify-content: flex-end
			.data
				display: flex
				justify-content: center
				align-items: center
				padding: 0 18px
				border: 1px solid #E4E4E4
				cursor: pointer
				img
					width: 21px
					margin-right: 20px
				
				p
					width: 85px
					font-size: 12px
					line-height: 16px
					font-weight: 400
					Font-family: $default-font
	&__thirtline
		.store
			ul
				display: flex
				justify-content: center
				li
					position: relative
					list-style: none
					a
						position: relative
						text-decoration: none
						color: $text1
						Font-family: $default-font
						Font-weight: 600 
						Font-size: 15px 
						Line-height: 18px  
						Letter-spacing: 2%
						box-sizing: border-box
						transition: .5s	
						margin: 20px
						padding: 15px
						text-transform: uppercase
						&:before, &:after
							content: '' 
							position: absolute
							right: 0
							bottom: 0
							left: 0
							transition: 0.2s 
							color: rgba($accent1, .9)
							border-bottom: 3px solid $accent1
							transform: scaleX(0)
						&:hover 
							&:before, &:after
								transform: scaleX(1)


 /////// секция продукта
	
.breadcrumbs
	display: block
	width: 1600px
	margin: 0 auto
	padding-top: 50px
	padding-bottom: 60px
	ul
		padding: 0
		li
			list-style: none
			a
				color: $text1
				text-decoration: none
				font-size: 13px
				line-height: 18px
				font-weight: 400
				Font-family: $default-font
			.fa-angle-right
				color: $text1
				font-size: 13px
				margin-left: 17px
				margin-right: 17px
.s-product
	background-color: #F9F9F9
	padding-top: 62px
	padding-bottom: 62px
	padding-left: 92px
	padding-right: 160px
	display: flex
	width: 1600px
	margin: 0 auto
	margin-bottom: 60px
	&__gallery, 
		width: 50%
		display: flex
		.slider
			width: 100px
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			margin-right: 108px
			.fa-angle-down
				font-size: 28px
				color: $text3
				cursor: pointer
			.thumb
				display: flex
				width: 100%
				height: 108px
				margin-bottom: 40px
				padding: 5px
				a
					img
						width: 100%
						height: 100%

		.select-foto
			img
				width: 280px
				background-size: cover
				background-position: center center 
				background-repeat: no-repeat				
	&__conditions
		width: 50%
		&__code
			h1
				padding: 0
				margin: 0
				color: $text1
				font-size: 30px
				line-height: 40px
				font-weight: 600
				Font-family: $default-font		
				text-transform: uppercase		
			p
				color: $text3
				font-size: 16px
				line-height: 50px
				font-weight: 400
				Font-family: $default-font	
				margin-bottom: 40px				
				strong
					color: $text2
					font-size: 16px
					line-height: 20px
					Font-family: $default-font						
		&__description
			display: flex
			padding-bottom: 160px
			.block-price, .block-TTH,
				width: 50%
			.block-price	
				.btn-favorites
					margin: 0
					padding: 0
					line-height: 36px
					text-decoration: none
					display: flex
					align-items: center
					justify-content: center
					width: 150px
					border: 3px solid $accent1
					border-radius: 50px 
					color: $accent1
					font-size: 14px
					font-weight: 600
					Font-family: $default-font		
					transition: .3s	
					margin-bottom: 40px	
					img
						padding-right: 10px
					&:hover
						transform: scale(.97)
				.price
					display: block	
					font-size: 40px
					font-weight: 700
					Font-family: $default-font		
					margin-bottom: 20px
				.available
					font-size: 16px
					font-weight: 600
					Font-family: $default-font	
					margin-bottom: 40px	
					margin-top: 0
				.btn-busket
					margin: 0
					padding: 0
					line-height: 60px
					text-decoration: none
					display: flex
					align-items: center
					justify-content: center
					width: 250px
					background-color: $accent2
					border-radius: 50px 
					color: #fff
					font-size: 24px
					font-weight: 600
					Font-family: $default-font		
					transition: .3s	
					img
						padding-left: 10px
					&:hover
						transform: scale(.97)
			.block-TTH
				.btn-feedback
					margin: 0
					padding: 0
					line-height: 36px
					text-decoration: none
					display: flex
					align-items: center
					width: 160px
					font-size: 16px
					font-weight: 400
					Font-family: $default-font		
					transition: .3s	
					margin-bottom: 84px
					img
						margin-right: 10px
				.main-characteristics, .characteristics,
					p
						margin: 0
						margin-bottom: 32px
						padding: 0
						font-size: 16px
						font-weight: 600
						Font-family: $default-font		
				.characteristics
					p
						margin: 0
					span
						font-weight: 400
						color: $text3
		&__future
			display: flex
			.item-future
				width: 33.3333333333%
				.item-main
					display: flex
					align-items: center
					font-size: 18px
					font-weight: 600
					Font-family: $default-font	
					margin-bottom: 16px
					img
						margin-left: 10px	
				p
					margin: 0
					padding: 0
					color: $text2
					font-size: 16px
					font-weight: 400
					Font-family: $default-font	


////////////////     ОТЗЫВЫ //////////////////
.nav-feedback
	width: 1600px
	margin: 0 auto
	ul
		margin-top: 90px
		padding: 0
		display: flex
		li
			position: relative
			display: block
			list-style: none
			height: 40px
			a
				padding: 23px 30px
				background-color: #F7F8FC
				color: $text1
				text-decoration: none
				font-size: 24px
				font-weight: 600
				Font-family: $default-font	
				&:hover
					color: $accent1
			&:after
				position: absolute
				display: block
				content: ''
				right: -3px
				top: 0
				bottom: 0
				border-right: 3px solid $text3
				z-index: 12
			&:last-child
				&:after
					display: none
			.active
				color: $accent1
.s-feedback
	background-color: #F7F8FC
	display: flex
	width: 1600px
	margin: 0 auto
	padding-top: 82px
	padding-bottom: 67px
	padding-left: 92px 
	margin-bottom: 80px
	&__block
		width: 50%
		padding-right: 154px	
		.sayAbout
			margin: 0
			padding: 0
			font-size: 18px
			line-height: 18px
			font-weight: 600
			Font-family: $default-font
			margin-bottom: 30px			
		textarea
			resize: none
			width: 600px
			border: 1px solid $text3
			padding: 11px 20px
			font-size: 17px
			line-height: 20px
			font-weight: 400
			Font-family: $default-font
			color: $text3
			background-color: transparent
			margin-bottom: 20px
		.flex
			display: flex
			justify-content: flex-end
			.btn-send
				padding: 0
				line-height: 36px
				text-decoration: none
				display: flex
				align-items: center
				justify-content: center
				width: 150px
				border: 3px solid $accent1
				border-radius: 50px 
				color: $accent1
				font-size: 14px
				font-weight: 600
				Font-family: $default-font		
				transition: .3s	
				margin-bottom: 70px
				&:hover
					transform: scale(.97)
		&__named-comment
			.all
				margin: 0
				padding: 0
				font-size: 24px
				line-height: 24px
				font-weight: 600
				Font-family: $default-font
				margin-left: -20px
			.item-feedback
				p
					margin: 0
					padding: 0
				.flex-container
					display: flex
					justify-content: space-between
					margin-bottom: 20px	
					margin-top: 50px					
					.nameSay
						font-size: 18px
						line-height: 18px
						font-weight: 600
						Font-family: $default-font	
					.data-feedback
						font-size: 18px
						line-height: 18px
						font-weight: 600
						Font-family: $default-font
						color: $text3				
						margin-right: -20px
				.comment
						font-size: 17px
						line-height: 25px
						font-weight: 400
						Font-family: $default-font
						color: $text2			
		&__btn-read
			.btn-read
				padding: 0
				line-height: 50px
				text-decoration: none
				display: flex
				align-items: center
				justify-content: center
				width: 250px
				border: 3px solid $accent1
				color: $accent1
				font-size: 14px
				font-weight: 600
				Font-family: $default-font		
				transition: .3s	
				margin-top: 50px
				&:hover
					border: 3px solid transparent
					background-color: $accent1
					color: #fff
	&__authorization
		display: flex
		width: 50%
		height: 50%
		justify-content: center
		align-items: center
		.flex-center
			width: 270px
			flex-direction: column
			align-items: center
			.btn-login
				line-height: 60px
				text-decoration: none
				width: 250px
				border-radius: 50px
				background-color: $accent1
				font-size: 24px
				font-weight: 600
				Font-family: $default-font		
				transition: .3s	
				color: #fff
				margin-top: 50px
				box-shadow: rgba($text2, .2) 0 10px 10px 0
				&:hover
					transform: scale(.97)
			p
				font-size: 13px
				font-weight: 400
				Font-family: $default-font	





/////////////////////////// КАРУСЕЛЬ ///////////////////

.s-mbSearch
	width: 1277px
	margin: 0 auto
	margin-bottom: 140px	
	.offers
		.mb
			font-size: 30px
			line-height: 30px
			font-weight: 600
			Font-family: $default-font		
			text-transform: uppercase
			padding: 0
			margin-bottom: 40px
	.owl-carousel
		width: 100%
		position: relative
		.owl-dots
			position: absolute
			bottom: -50px
			width: 100%
			text-align: center		
			z-index: -1
			.owl-dot 
				width: 10px
				height: 10px
				background-color: $text3
				border-radius: 10em
				display: inline-block
				margin-right: 20px
				transition: background-color .25s ease, transform .25s ease
				&:last-child
					margin-right: 0
				&.active
					background-color: $text2
					transform: scale(1.3)
		.owl-nav
			.owl-prev
				position: absolute
				top: 50%
				left: -90px
				font-size: 9em
				color: $text3
				transform: translate(0, -50%)
				transition: .4
				outline: none
				&:hover
					opacity: .8
			.owl-next
				position: absolute
				top: 50%
				right: -90px
				font-size: 9em
				color: $text3				
				transform: translate(0, -50%)
				transition: .2
				outline: none
				&:hover
					opacity: .8
	.carousel-offers
		display: flex
		justify-content: center
		.item-offer
			display: flex
			justify-content: center
			align-items: center
			flex-direction: column
			width: 240px
			height: 280px
			background-color: #F7F8FC
			margin-right: 25px
			padding: 10px
			img
				height: 140px
				width: 80px
				margin-bottom: 15px
			&:last-child
				margin-right: 0
			p
				font-size: 14px
				line-height: 20px
				font-weight: 400
				Font-family: $default-font		
			b
				font-size: 18px
				line-height: 20px
				font-weight: 600
				Font-family: $default-font		



/////////////////////   ДОСТАВКА     ////////////////////


.s-delivery
	padding-top: 50px
	padding-bottom: 50px
	background-color: #F9F9F9
	&__container
		width: 1277px
		margin: 0 auto
		display: flex
		justify-content: center
		align-items: center
	&__main
		width: 280px
		height: 280px
		background-image: linear-gradient(148deg, #4377ec, #062294);
		padding: 31px
		&__car
			display: flex
			img
				height: 21px
				margin-right: 20px
			p
				margin: 0
				padding: 0
				font-size: 24px
				line-height: 24px
				font-weight: 400
				Font-family: $default-font		
				color: #fff
				margin-bottom: 40px
		p
			font-size: 16px
			line-height: 24px
			font-weight: 400
			Font-family: $default-font		
			color: #fff			
	&__attachment
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		width: 250px
		height: 250px
		background-color: #fff
		margin-right: 10px
		&:last-child
			margin-right: 0
		p
			font-size: 20px
			line-height: 24px
			font-weight: 400
			Font-family: $default-font		




///////////////////////////   ФУТЕР



.s-footer
	padding-top: 50px
	padding-bottom: 50px
	background-color: $accent1
	&-blocks
		width: 1277px
		margin: 0 auto
		display: flex
		align-items: center
	&__block-menu,
		width: 50%
		display: flex
		.menu
			width: 50%
	&__block-menu
		.what
			color: #fff
			font-size: 16px
			line-height: 16px
			font-weight: 600
			Font-family: $default-font	
			margin-bottom: 40px
		.menu			
			ul
				margin: 0
				padding: 0
				li
					list-style: none
					a
						color: #fff
						position: relative
						font-size: 16px
						line-height: 36px
						font-weight: 400
						Font-family: $default-font	
						text-decoration: none						
						&:after
							transition: .3s
							transform: scaleX(0)
							position: absolute
							content: ''
							bottom: -5px
							right: -7px
							width: 35px
							height: 15px
							border-bottom: 1px solid #fff
							transform-origin: right
						&:before
							transition: .3s
							transform: scaleY(0)
							position: absolute
							content: ''
							bottom: -5px
							right: -7px
							width: 35px
							height: 15px
							border-right: 1px solid #fff
							transform-origin: bottom							
						&:hover
							&:after
								transform: scaleX(1)
						&:hover
							&:before
								transform: scaleY(1)		
	&__block-contacts
		width: 50%
		height: 286.97px
		display: flex		
		justify-content: flex-end
		align-items: flex-start
		text-align: right
		.partnership
			width: 50%
			height: 100%
			.toWhom
				color: #fff
				font-size: 16px
				line-height: 16px
				font-weight: 600
				Font-family: $default-font	
				margin-bottom: 40px				
			.number
				color: #fff
				font-size: 24px
				line-height: 24px
				font-weight: 600
				Font-family: $default-font	
				margin-bottom: 40px				
			.email
				color: #fff
				font-size: 18px
				line-height: 18px
				font-weight: 400
				Font-family: $default-font	
				margin-bottom: 40px		
			.soc
				margin-top: 80px
				.fa-facebook-square, .fa-instagram,					
					color: #fff
					width: 24px
					height: 24px
					transition: .3s
					&:hover
						opacity: .8
						transform: scale(1.1)					
				.fa-facebook-square
					margin-left: 20px









@import "media" // Всегда в конце
